;; MCU DEVELOP ENVIRONMENT

(use-modules
 (gnu)
 (ebreak packages openocd-mrs)
 (ebreak packages riscv32-qingkev2a-toolchain)
 (ebreak packages riscv32-qingkev3f-toolchain)
 (ebreak packages riscv32-qingkev4a-toolchain)
 (ebreak packages riscv32-qingkev4f-toolchain)
 (ebreak packages sh-casio-elf-toolchain)
 (ebreak packages gamecube-toolchain)
 (ebreak packages usb-tools)
 (ebreak packages ch32-rs)
 (ebreak packages kermit)
 )
(use-service-modules base desktop)
(use-package-modules
  admin
  build-tools bootloaders
  chromium cmake code commencement curl
  electronics emacs emacs-xyz embedded
  file firmware flashing-tools
  image
  libusb linux llvm
  man ncurses networking
  radio rsync rust-apps
  pkg-config
  terminals texinfo tmux
  uucp
  version-control video virtualization
  wget wm
  )

(operating-system
  (host-name "live")
  (timezone "UTC")
  (locale "en_US.utf8")

  (bootloader (bootloader-configuration
               (bootloader grub-bootloader)
               (targets '("/dev/vda"))
               (terminal-outputs '(console))))

  (file-systems (append
                 (list (file-system
                         (device "/dev/vda1")
                         (mount-point "/")
                         (type "ext4")))
                 %base-file-systems))

  (users (cons (user-account
                (name "live")
                (comment "Live")
		(password (crypt "live" "$6$1234"))
                (group "users")
                (supplementary-groups '("wheel" "netdev" "audio" "video" "dialout")))
               %base-user-accounts))

  (packages
   (append
    (list
     ncurses man-db man-pages tmux
     htop bmon strace perf vmtouch
     emacs-next emacs-company emacs-rime emacs-ivy
     gnu-make cmake meson ninja pkg-config bear
     git fzf ripgrep cscope
     clang-toolchain
     riscv32-qingkev2a-elf-toolchain riscv32-qingkev3f-elf-toolchain
     riscv32-qingkev4a-elf-toolchain riscv32-qingkev4f-elf-toolchain
     sh-casio-elf-toolchain gamecube-toolchain
     openocd openocd-mrs
     pulseview sigrok-cli sigrok-firmware-fx2lafw
     binwalk file genimage qemu
     usbutils tcpdump wireshark rtl-sdr rtl-433 dump1090
     usb-sniffer wch-ble-analyzer-capture
     wchisp wch-link kermit ckermit ekermit
     ffmpeg picocom lrzsz uucp nncp rsync wget curl
     libusb hidapi evtest
     dwl foot wmenu grim ungoogled-chromium
     )
    %base-packages))
  (services
   (append
    (list
     (service elogind-service-type)
     (udev-rules-service 'sigrok libsigrok)
     (udev-rules-service 'rtl-sdr rtl-sdr)
     (udev-rules-service 'usb-sniffer usb-sniffer)
     (udev-rules-service 'wch-ble-analyzer wch-ble-analyzer-capture)
     (udev-rules-service 'wch-link wch-link)
     (udev-rules-service 'wchisp wchisp)
     )
    %base-services)))
